@import url("css/bootstrap.min.css");
.body{
	margin: 0;
	padding: 0px;
	padding-top: 50px;
}
.navbar-collapse{
	}
.navbar-default{
	background-color:  #f9f4f3;
	margin: 0;
	padding-top: 20px;

	
}


}
.navbar-brand{
	padding: 0; 
	border-radius: 25%;
	margin: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
	background-color: green;
} 

.nav-pills>li.active>a:hover {
    background-color: white;
	   }

.jumbotron{
	text-align: left;
	padding: 50px;
	margin: 0; 
	background-color:green;
}
	background-image: url("img/j1.jpg");


}
.jumbotext h1{
	min-height: 150px;
}
.section{
	margin: 0;
	padding: 0;
}
.col-md-8, .col-md-4{
	

}
.col-md-8{
	background-color: #f9f4f3;
	min-height: 300px;
	padding: 0 80px;
	vertical-align: middle;
	margin: auto;
	
}
.col-md-4{
	background-color: #f9f4f3;
	min-height: 300px;
	
}
.img-circle{
	padding:30px;
}
.connect{
	min-height: 40px;
	width: 100%;
	padding: 20px 0;
	font-weight: bolder;
	color: white;
	text-align: center;
	background-color: chartreuse;
	background: linear-gradient(to right, yellow, green);
}
.connect 

.col-md-12 .img5{
	background-image: url(youths.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}