@import url("css/bootstrap.min.css");
.body{
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
}
.navbar-collapse{
	border-color: green;
}
.navbar-default{
	margin: 0;
	padding-bottom: 0;
	background-color: #FFF8DC;
}
.navbar-brand{
	padding: 0; 
	border-radius: 25%;
	margin: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
	background-color: green;
} 

.nav-pills>li.active>a:hover {
    background-color: white;
	   }

.jumbotron{
	text-align: left;
	padding: 40px;
	background-color: green;
	margin-bottom: 0; 
	min-height: 90px;
	margin-top: 0;
}

.jumbotron p{
	padding: 20px;
}
.jumbotext h1{
	min-height: 150px;
}
.section{
	margin: 0 300px;
	padding: 15px;
	background-color: #f9f4f3;
	/*margin: auto;*/
	}

#volunteer{
padding: 50px;
}

#donate{
padding: 50px;
}

.connect{
	min-height: 40px;
	width: 100%;
	padding: 20px 0;
	font-weight: bolder;
	color: white;
	text-align: center;
	background-color: chartreuse;
	background: linear-gradient(to right, yellow, green);
}
.connect 

.col-md-12, .team{
	background: linear-gradient(to right, green, yellow);
}

